.class-select-button {
  border: none;
  display: grid;
  grid-template-columns: 30px 100px;
  color: #eeeeff;
  align-items: center;
  align-content: center;
  width: 155px;
  background-color: rgb(29, 33, 58);
  font-weight: 200;
  border-radius: 5px;
  text-align: left;
  column-gap: 20px;
  height: auto;
  padding: 5px;
  background-color: #11111f;
}

.class-select-button:hover {
  box-shadow: none;
  background-color: #141832;
}

.class-select-button .class-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 1px;
}

.character-selector__class-options {
  background-color: black;
  position: absolute;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 4px;
  overflow: hidden;
  padding: 5px;
  background-color: rgb(29, 33, 58);
  gap: 5px;
  z-index: 40;
}

 .options-visible .character-selector__selection-value {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.character-selector-section .add-button {
  margin-bottom: 30px;
  margin-top: 5px;
}

.character-selector__selection {
  display: grid;
  align-items: center;
  column-gap: 20px;
  grid-template-columns: 150px auto;
}
