.player {
  position: relative;
  display: grid;
  grid-template-columns: 30px 100px 100px auto;
  align-items: center;
  background-color: #131a29;
  border: 1px solid #153747;
  padding: 10px;
  border-radius: 8px;
  height: 50px;
  margin: 5px;
}

.player__name {

}

.player__main-character {

}
