ul {
  list-style: none;
}

.class-icon {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(11, 114, 133, 0.35);
  border-radius: 5px;
  box-sizing: border-box;
}

.role-icon {
  margin-top: 1px;
}

.app-header {
  text-align: center;
  margin-bottom: 20px;
}

.app-header__title {
  font-size: 1.5em;
  line-height: 2;
}

button {
  font-family: "Titillium Web", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 3px;
  width: 100px;
  height: 42px;
  width: auto;
  padding: 0 22px; 
  cursor: pointer;
  font-weight: 600;
  line-height: 1;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  color: #ccccdd;
  border: 1px solid #ccccdd;
}

button.default-button {
  border: 1px solid transparent;
  box-shadow: rgba(25, 113, 194, 0.36) 0 4px 14px 0;
  background-color: #1971c2;
  background-image: #1971c2;
  color: #fff;
}

button:hover {
}

button.add-button {
  width: 30px;
  padding: 5px;
  height: 30px;
  border: none;
  background: transparent;
}

button.add-button > img {
  width: 20px;
  height: 20px;
  margin-left: -1px;
  margin-top: -1px;
  filter: invert(48%) sepia(79%) saturate(200%) hue-rotate(180deg) brightness(100%) contrast(119%);
}

input[type=text] {
  font-family: "Titillium Web", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 30px;
  border: none;
  border-radius: 4px;
  background-color: rgb(29, 33, 58);
  color: #eeeeff;
  padding-left: 10px;

}

input:focus {
  outline: none;
  background-color: rgb(40, 45, 68);
}

.hidden {
  visibility: hidden;
}

.desaturate {
  filter: grayscale(100%);
}

.modal-footer {
  display: flex;
  justify-content: right;
}

.modal-footer > * {
  margin-left: 15px;
}
